@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewImages</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000; /* ให้เข้ากับพื้นหลังเวลา object-fit: contain */
            height: 100%;
            width: 100%;
        }

        img.fullscreen {
            width: 100%;
            height: 100%;
            object-fit: contain; /* พอดีจอแต่ไม่ครอบ */
            background-color: black;
        }

        
    </style>
</head>
<body>

    <div>
        <img src="~/uploads/1.jpg" alt="Preview Image" class="fullscreen">
    </div>
</body>
</html>
