
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewImages</title>
    <style>
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }
        img {
            max-width: 100%;
            max-height: 90%;
        }
        </style>
</head>
<body>
        <div style="display:flex;justify-content:center" >
        <img src="~/uploads/1.jpg" alt="Girl in a jacket" >

        </div >
</body>
</html>
